@model KernelTravelGuides.Models.TouriestSpots

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TouriestSpots</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="t_spot_name" class="control-label"></label>
                <input asp-for="t_spot_name" class="form-control" />
                <span asp-validation-for="t_spot_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_spot_locaion" class="control-label"></label>
                <input asp-for="t_spot_locaion" class="form-control" />
                <span asp-validation-for="t_spot_locaion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_spot_desc" class="control-label"></label>
                <input asp-for="t_spot_desc" class="form-control" />
                <span asp-validation-for="t_spot_desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="t_spot_rating" class="control-label"></label>
                <select asp-for="t_spot_rating" class="form-control" />
                <option selected disabled>Choose Rating </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>

                </select>
                <span asp-validation-for="t_spot_rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tour Spots Images</label>
                <input asp-for="main_image1" class="form-control" accept="/images/touriestspotsimg/*" />
                <span asp-validation-for="main_image1" class="text-danger"></span>
                <br />
                <input asp-for="main_image2" class="form-control" accept="/images/touriestspotsimg/*" />
                <span asp-validation-for="main_image2" class="text-danger"></span>
                <br />
                <input asp-for="main_image3" class="form-control" accept="/images/touriestspotsimg/*" />
                <span asp-validation-for="main_image3" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="country_id" class="control-label"></label>
                <select asp-for="country_id" class ="form-control" asp-items="ViewBag.country_id"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="t_spot_status" /> @Html.DisplayNameFor(model => model.t_spot_status)
                </label>
            </div>
        @*    <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
