@model KernelTravelGuides.Models.TouriestSpots

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Touriest Spot Edit</h1>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Edit Touriest Spot</h4>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="t_spot_id" />
                            <div class="row">

                                <div class="form-group  col-md-6">
                <label asp-for="t_spot_name" class="control-label"></label>
                <input asp-for="t_spot_name" class="form-control" />
                <span asp-validation-for="t_spot_name" class="text-danger"></span>
            </div>
                                <div class="form-group col-md-6">
                <label asp-for="t_spot_locaion" class="control-label"></label>
                <input asp-for="t_spot_locaion" class="form-control" />
                <span asp-validation-for="t_spot_locaion" class="text-danger"></span>
            </div>
                                <div class="form-group col-md-6">
                <label asp-for="t_spot_desc" class="control-label"></label>
                <textarea rows="6" asp-for="t_spot_desc" class="form-control" ></textarea>
                <span asp-validation-for="t_spot_desc" class="text-danger"></span>
            </div>
                                <div class="form-group col-md-6">
                <label asp-for="t_spot_rating" class="control-label"></label>
                <input asp-for="t_spot_rating" class="form-control" />
                <span asp-validation-for="t_spot_rating" class="text-danger"></span>
            </div>
                                <div class="form-group col-md-6">
                <input asp-for="main_image1" class="form-control" />
                                    <span asp-validation-for="main_image1" class="text-danger"></span>
            
                <input asp-for="main_image2" class="form-control" />
                <span asp-validation-for="main_image2" class="text-danger"></span>
          
                <input asp-for="main_image3" class="form-control" />
                <span asp-validation-for="main_image3" class="text-danger"></span>
            </div>
                                <div class="form-group col-md-6">
                <label asp-for="country_id" class="control-label"></label>
                <select asp-for="country_id" class="form-control" asp-items="ViewBag.country_id"></select>
                <span asp-validation-for="country_id" class="text-danger"></span>
            </div>
                                <div class="form-group form-check col-md-6">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="t_spot_status" /> @Html.DisplayNameFor(model => model.t_spot_status)
                </label>
            </div>
          @*  <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>*@

                                <div class="form-group col-md-6">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->

</div><!-- end row -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}