


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kernel Travel Guides</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="~/frontend/css/open-iconic-bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/animate.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/owl.theme.default.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/aos.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/ionicons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/bootstrap-datepicker.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/jquery.timepicker.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/icomoon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/frontend/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/KernelTravelGuides.styles.css" asp-append-version="true" />
</head>
<body>

     <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container" >
                  
                       
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index" >Kernal<span>Travel Guide</span></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="oi oi-menu"></span> Menu
                            </button>
                      
              
             
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto" >
                      
                        @if (User.Identity.IsAuthenticated)
                        {
                          
                                <li class="nav-item" >
                                    <a class="nav-link  text-black" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item">
                            <a class="nav-link  text-black" asp-area="" asp-controller="Feedback" asp-action="Create">Add Feedback</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-black " asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-black " asp-area="" asp-controller="Home" asp-action="Packages">Packages</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link  text-black" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                   aria-expanded="false" asp-area="">More Info</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                    <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="TouriestSpots">Touriest Spots</a></li>
                                    <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="TravelInfo">Travel  Categories</a></li>
                                    <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="TransportInfo">Transport</a></li>
                                    <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="HotelInfo">Hotels</a></li>
                                    <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="RestaurantInfo">Restaurants</a></li>
                                    <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="ResortInfo">Resorts</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  text-black" asp-area="" asp-controller="Messages" asp-action="Contact">Contact Us</a>
                            </li>

                            <li class="nav-item">
                                <partial name="_LoginPartial" class="nav-link  " />
                               </li>

                            
                        }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link  text-black" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black " asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-black " asp-area="" asp-controller="Home" asp-action="Packages">Packages</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link  text-black" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                               aria-expanded="false" asp-area="">More Info</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="TouriestSpots">Touriest Spots</a></li>
                                <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="TravelInfo">Travel  Categories</a></li>
                                <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="TransportInfo">Transport</a></li>
                                <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="HotelInfo">Hotels</a></li>
                                <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="RestaurantInfo">Restaurants</a></li>
                                <li><a class="dropdown-item text-black" asp-controller="Home" asp-action="ResortInfo">Resorts</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-black" asp-area="" asp-controller="Messages" asp-action="Contact">Contact Us</a>
                        </li>


                        <partial name="_LoginPartial" />
                    }



                </ul>
                </div>
            </div>
    </nav>

    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>
  
    @RenderBody()
    
    <footer class="ftco-footer bg-bottom" style="background-image: url(frontend/images/footer-bg.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Vacation</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Infromation</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Online Enquiry</a></li>
                            <li><a href="#" class="py-2 d-block">General Enquiries</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Refund Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Call Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Experience</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Adventure</a></li>
                            <li><a href="#" class="py-2 d-block">Hotel and Restaurant</a></li>
                            <li><a href="#" class="py-2 d-block">Beach</a></li>
                            <li><a href="#" class="py-2 d-block">Nature</a></li>
                            <li><a href="#" class="py-2 d-block">Camping</a></li>
                            <li><a href="#" class="py-2 d-block">Party</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">


                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                </div>
            </div>
        </div>

    </footer>




   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/frontend/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/jquery-migrate-3.0.1.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/jquery.easing.1.3.js" asp-append-version="true"></script>
    <script src="~/frontend/js/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/jquery.stellar.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/aos.js" asp-append-version="true"></script>
    <script src="~/frontend/js/jquery.animateNumber.min.js" asp-append-version="true"></script>
    <script src="~/frontend/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/frontend/js/scrollax.min.js" asp-append-version="true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
    <script src="~/frontend/js/google-map.js" asp-append-version="true"></script>
    <script src="~/frontend/js/main.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
